* {
  color: #ececec;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}
.app {
  display: flex;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #212121;
  display: flex;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .app {
    position: relative;
    overflow: hidden;
  }
}
